{% extends 'clists/landing_page.htm' %}
{% block body_content %}
<div class="container col-md-7">
	<div class="shadow-lg">
		<div class=" p-3 alert-success">
			<span class="sp-title-cls" id={{object.id}}>{{object.title}}</span>
		</div>
		<div class="col-md-12 p-3 itms-secdv">
			{% for items in object.items_set.all %}
			<div class="form_container d-flex flex-row mt-2" id={{items.id}}>
				<form class="iform-cls form-inline">
				{% if items.status == True %}
				<div class="p-2 compl">
					<div id="Squarecheck">
						<span class="sq_check">
							<svg class="bi bi-check-square-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					 		 <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>	
							</svg>
						</span>
					</div>
				</div>
				<div class="form-group itm_ip_dv ml-3">
					<span class="item-ip">{{items.items}}<span>
				</div>	
				<div class="form-group custom-control custom-switch ml-3">
					<input type="checkbox" name="status" class="custom-control-input" id="ip{{items.id}}" checked="checked">
					<label class="custom-control-label" for="ip{{items.id}}">Status</label>
				</div>
				{% else %}
				<div class="p-2 compl"></div>
				<div class="form-group itm_ip_dv ml-3">
					<span class="item-ip">{{items.items}}<span>
				</div>	
				<div class="form-group custom-control custom-switch ml-3">
					<input type="checkbox" name="status" class="custom-control-input" id="ip{{items.id}}" >
					<label class="custom-control-label" for="ip{{items.id}}">Status</label>
				</div>
				{% endif %}
				<div class="form-group adderdv ml-3">
					<span class="adder">
						<svg class="bi bi-plus-circle-fill" width="1em" height="0.8em" viewBox="0 0 16 16" fill="currentColor" xmlns="	http://www.w3.org/2000/svg">
					  	<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
						</svg>
					</span>
					<span class="remoer">
					<svg class="bi bi-x-circle-fill" width="1em" height="0.8em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			  			<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
					</svg>
					</span>
				</div>
				</form>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>
{% endblock body_content %}