.navbar-brand{

	margin-left: 150px;
	font-size: 32px;
}
.create-cls{
	margin-left: 75px;
}
.mn_sec{
	margin-top: 50px;
}
.sgp{
	margin-right: 100px;
}
.title_ip{
	border: none;
	border-color:transparent;
}